body{
    background-color: teal;
}

.wrppr{
    margin: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
}

.nvbr{
    position: fixed;
    top: 0;
    width: 66.5%;
    height: 50px;
    background-color: orange;
    border: 2px solid;
    font-style: italic;
}

#hdr{
    text-align: center;
}

.lrm{
    width: 75%;
    background-color: purple;
    border: 3px dotted pink;
}

.lst{
    height: 1000px;
    width: 75%;
    background-color: chartreuse;
}

#txt{
    color: red;
}

#ftr{
    position: fixed;
    bottom: 0%;
    width: 66.5%;
    height: 20px;
    background-color: green;
    color: yellow;
    border: 2px solid brown;
    margin-bottom: 10px;
}